<div>
	<h1 class="dream-homes-main-title">Hot Rent</h1>
				<div class="content-wrap dream-homes-container is-carousel">
					<ul class="dream-homes-list" style="width: 4497px; left: 0px;">
						<li ui-sref="app.details" class="dream-homes-item " ng-repeat="image in carouselimages"  data-adid="2013482649" data-listingtype="Residential" style="width: 341.25px;">
							<a href="#" class="dream-homes-item-link" data-adid="2013482649" data-listingtype="Residential" data-position="1">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                		<h2 class="dream-homes-title">
                                        <span class="dream-homes-title-agency-name">Fletchers  Canterbury</span>
									<span class="dream-homes-title-suburb">Balwyn, Vic </span>
									</h2>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class=" fa fa-bed"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-bath"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            1
                                        </span>
									<span class="fa fa-car"></span>
									</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" ng-src="[:image.src:]" alt="Balwyn, Vic">
						</li>
						<!--<li class="dream-homes-item " ng-class="{left: $index < imageid, right: $index > imageid, centered: $index == imageid}" data-adid="2013482649" data-listingtype="Residential" style="width: 341.25px;">
							<a href="#" class="dream-homes-item-link" data-adid="2013482649" data-listingtype="Residential" data-position="1">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                		<h2 class="dream-homes-title">
                                        <span class="dream-homes-title-agency-name">Fletchers  Canterbury</span>
									<span class="dream-homes-title-suburb">Balwyn, Vic </span>
									</h2>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class=" fa fa-bed"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-bath"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            1
                                        </span>
									<span class="fa fa-car"></span>
									</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" src="../img/b0.jpg" alt="Balwyn, Vic">
						</li>
						<li class="dream-homes-item " ng-class="{left: $index < imageid, right: $index > imageid, centered: $index == imageid}" data-adid="2013431230" data-listingtype="Residential" style="width: 341.25px;">
							<a href="#" class="dream-homes-item-link" data-adid="2013431230" data-listingtype="Residential" data-position="2">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                <h2 class="dream-homes-title">
                                        <span class="dream-homes-title-agency-name">Marshall White Stonnington</span>
									<span class="dream-homes-title-suburb">Toorak, Vic </span>
									</h2>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-bed"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-bath"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-car"></span>
									</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" src="../img/b10.jpg" alt="Toorak, Vic">
						</li>
						<li class="dream-homes-item " data-adid="2013160302" data-listingtype="Residential" style="width: 341.25px;">
							<a href="#" class="dream-homes-item-link" data-adid="2013160302" data-listingtype="Residential" data-position="3">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                <h2 class="dream-homes-title">
                                        <span class="dream-homes-title-agency-name">Marshall White Stonnington</span>
									<span class="dream-homes-title-suburb">South Yarra, Vic </span>
									</h2>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-bed"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-bath"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-car"></span>
									</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" src="../img/b12.jpg" alt="South Yarra, Vic">
						</li>
						<li class="dream-homes-item " data-adid="2013336062" data-listingtype="NewDevelopment" style="width: 341.25px;">
							<a href="#" class="dream-homes-item-link" data-adid="2013336062" data-listingtype="NewDevelopment" data-position="4">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                <h2 class="dream-homes-title">
                                        <span class="dream-homes-title-agency-name">Lechte Corp</span>
									<span class="dream-homes-title-suburb">Hawthorn, Vic </span>
									</h2>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-bed"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-bath"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-car"></span>
									</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" src="../img/b13.jpg" alt="Hawthorn, Vic">
						</li>
						<li class="dream-homes-item is-lazy-loading" data-adid="2013260868" data-listingtype="Residential" style="width: 341.25px;">
							<a href="#" class="dream-homes-item-link" data-adid="2013260868" data-listingtype="Residential" data-position="5">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                <h2 class="dream-homes-title">
                                        <span class="dream-homes-title-agency-name">Marshall White Stonnington</span>
									<span class="dream-homes-title-suburb">Glen Iris, Vic </span>
									</h2>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-bed"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-bath"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-car"></span>
									</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" data-lazy-src="../img/b14.jpg" alt="Glen Iris, Vic">
						</li>
						<li class="dream-homes-item is-lazy-loading" data-adid="2013498866" data-listingtype="NewDevelopment" style="width: 499.667px;">
							<a href="#" class="dream-homes-item-link" data-adid="2013498866" data-listingtype="NewDevelopment" data-position="6">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                <h2 class="dream-homes-title">
                                        <span class="dream-homes-title-agency-name">Trenerry Property Group  Pty Ltd</span>
									<span class="dream-homes-title-suburb">West Melbourne, Vic </span>
									</h2>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-bed"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-bath"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-car"></span>
									</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" data-lazy-src="../img/b15.jpg" alt="West Melbourne, Vic">
						</li>
						<li class="dream-homes-item is-lazy-loading" data-adid="2013483343" data-listingtype="Residential" style="width: 499.667px;">
							<a href="#" class="dream-homes-item-link" data-adid="2013483343" data-listingtype="Residential" data-position="7">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                <h2 class="dream-homes-title">
                                        <span class="dream-homes-title-agency-name">Fletchers  Canterbury</span>
									<span class="dream-homes-title-suburb">Surrey Hills, Vic </span>
									</h2>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            5
                                        </span>
									<span class="fa fa-bed"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            4
                                        </span>
									<span class="fa fa-bath"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-car"></span>
									</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" data-lazy-src="../img/b16.jpg" alt="Surrey Hills, Vic">
						</li>
						<li class="dream-homes-item is-lazy-loading" data-adid="1785" data-listingtype="Project" style="width: 499.667px;">
							<a href="#" class="dream-homes-item-link" data-adid="1785" data-listingtype="Project" data-position="8">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                <h2 class="dream-homes-title">
                                        <span class="dream-homes-title-project-name">Collins Arch</span>
									<span class="dream-homes-title-suburb">Melbourne, Vic </span>
									</h2>
									<span class="dream-homes-project-agency-name">Colliers l Collins Arch</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" data-lazy-src="../img/b17.jpg" alt="Melbourne, Vic">
						</li>
						<li class="dream-homes-item is-lazy-loading" data-adid="2013491279" data-listingtype="NewDevelopment" style="width: 499.667px;">
							<a href="#" class="dream-homes-item-link" data-adid="2013491279" data-listingtype="NewDevelopment" data-position="9">
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                                		<h2 class="dream-homes-title">
                                        <span class="dream-homes-title-agency-name">Protec Property Group | Illusso</span>
									<span class="dream-homes-title-suburb">Kew, Vic </span>
									</h2>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            3
                                        </span>
									<span class="fa fa-bed"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-bath"></span>
									</span>
									<span class="f-icon with-text">
                                        <span class="copy">
                                            2
                                        </span>
									<span class="fa fa-car"></span>
									</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" data-lazy-src="../img/b18.jpg" alt="Kew, Vic">
						</li>
-->					</ul>
					<a ng-click="prev()" class="dream-homes-prev-btn" ng-show="imageid>4">
						<span class="icon fa fa-chevron-circle-left"></span><span class="sr-only">previous</span>
					</a>
					<a ng-click="next()" class="dream-homes-next-btn" style="display: block;">
						<span class="icon fa fa-chevron-circle-right"></span><span class="sr-only">next</span>
					</a>
				</div>
</div>