<div class="menu">
	<ul>
		<li class="tab selected" ng-click="clickEvent(0)" actdata="channel=ershoufang" data-type="请输入区域、商圈或小区名开始找房" formact="/ershoufang/rs"><span>地址</span></li>
		<li class="tab " ng-click="clickEvent(1);openmodal('lg');" data-type="请输入楼盘名称开始找房" formact="/loupan/rs"><span>火车站</span></li>
		<li class="tab " ng-click="clickEvent(2)" data-type="输入地铁线或地铁站可以找地铁附近的房源" formact="/zufang/rs"><span>租房</span></li>
		<li class="tab " ng-click="clickEvent(3);tips!=tips" data-type="请输入小区名开始查找小区" formact="/xiaoqu/rs"><span>Tips</span></li>
		<li class="tab " ng-click="clickEvent(4)" data-type="房产知识有疑问？来搜搜吧~" formact="/wenda/rs"><span>一步到位</span></li>
		<li class="tab " ng-click="clickEvent(5)" data-type="房产知识有疑问？来搜搜吧~" formact="/wenda/rs"><span>找商家</span></li>
	</ul>
	<i></i>
</div>