option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: aa82le0jd5oth6.ceak2q6mpmwo.ap-southeast-2.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_NAME
     value: wirent
   - option_name: DB_USER
     value: andy
   - option_name: DB_PASS
     value: sunran123
	 